a {
    color:black;
    text-decoration: none;
  }
  body {
    margin:0px;
  }
  h1 {
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 0px;
  }
  h2 {
    margin-top:16px;
  }
  #grid ol {
    border-right: 1px solid gray ;
    width: 100px;
    margin : 0px;
    padding-left: 26px;
    padding-top: 20px;
  }
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  @media(max-width:800px){
    #grid {
    display: block;
    }
    #grid ol{
      border-right: none;
    }
    h1 {
      border-bottom: none;
    }
  }
  @media(min-with:800px){

  }